---
layout: default
---

<div class="home">
  <!-- {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%} -->


  {% assign max_modified_date = nil %}
  {% assign min_modified_date = nil %}
  {% for post in site.posts %}
    {% if max_modified_date == nil or max_modified_date < post.date %}
      {% assign max_modified_date = post.date %}
    {% endif %}

    {% if min_modified_date == nil or min_modified_date > post.date %}
      {% assign min_modified_date = post.date %}
    {% endif %}

  {% endfor %}

  <center>
    <p>Hi there <a href="/notes.html">👋</a>. Didn't think I'd see you here.</p>
    {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
    <span class="post-meta">Updated: {{ max_modified_date | date: date_format }} | Created: {{ min_modified_date | date: date_format }}</span>
  </center>


</div>